* {
  margin: 0;
}
:root{
  --colors11: blue;
  --colors12: green;
  --colors13: yellow;
  --colors21: orange;
  --colors22: red;
  --colors23: black;
  --colors31: pink;
  --colors32: gray;
  --colors33: brown;
}
.ecran_pacanea{
  display: grid;
  grid-template-columns: [s11] 35% [s12] 35% [s13] 35%;
  grid-template-rows: [s21] 35% [s22] 35% [s23] 35% [s31] 35% [s32] 35% [s33] 35%;
  position: absolute;
  top: 3%;
  left: 30%;
  width: 45%;
  height: 65%;
  border: 2px dotted blue;
}
.simbol{
  position: relative;
  top: 5%;
  left: 5%;
  width: 70%;
  height: 70%;
  border: 1px solid green;
}
/*#s11{

}
#s12{
  
}
#s13{
  
}
#s21{

}
#s22{
  
}
#s23{
  
}
#s31{
  
}
#s32{
  
}
#s33{
  
}*/
.container-butoane{
  display: block;
  position: absolute;
  top: 73%;
  left: 27%;
  height: 25%;
  width: 50%;
  border: 1px red solid;
  
}
#buton-start{
  position: relative;
  top: 35%;
  left: 85%;
  height: 30%;
  width: 10%;
  border-radius: 50%;
  background-color: red;
}
#buton-creste-miza{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 30%;
  width: 10%;
  font-size: 1rem;
}
#buton-scade-miza{
  position: absolute;
  top: 50%;
  left: 5%;
  height: 30%;
  width: 10%;
  font-size: 1rem;
  border: 1px solid black;
}
.buton{
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  font-size: 5em;
}
img{
  position: relative;
  width: 100%;
  height: 100%;
}
.container_background{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}
.container-zona-pariu{
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 10%;
  left: 5%;
  height: 50%;
  width: 20%;
  border: 1px solid red;
  font-size: 2rem;
  list-style-type: none;
}